body{
    margin: 0px;
    background-color: brown;
    font-size: 16px;
}
h1{
    text-align: center;
    margin-bottom: 10px;
}
.navbar ul{
    list-style-type: none;
    background-color: black;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: brown;
}
.navbar li{
    float:left
}

.container{
    width: 70%;
    margin: 50px auto;
}
.container p{
    margin-bottom: 40px;


}
.contactbox{
background-color: #fff ;
display: flex;
}
.contact-form{
 flex-basis: 60%;
 padding: 40px 60px; 
 border-radius: 30px;
}
.side-right{
    flex-basis: 40%;
    padding: 40px;
    background-color: black;
    color: white;

}

#withoutcoffee{
    width: 350px;
    height: 350px;
}