body{
    margin: 0px;
    background-color: brown;
    font-size: 16px;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: black;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: brown;
}
.navbar li{
    float:left
}

.container{
    width: 70%
    
}